.App {
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table {
  table-layout: fixed;
  border-spacing: 0px;
  border-style: hidden;
  /*position: fixed;*/
  /*top: -8px;*/
  /*left: 8px;*/
}

td {
  padding: 0px;
  height: 48px;
  width: 48px;
  margin: 0;
}

table td {
  border: 1px solid lightgrey;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}

.noselect {
  font-size: 8pt;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
